{% extends 'divorce/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <br/>
                <form action="" method="post">{% csrf_token %}
                    {% if form.email.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                        <p>Укажите свой адрес электронной почты</p>
                        <p>{{ form.email }}</p>
                    <input type="submit" class="btn btn-default btn-lg" value="Сбросить пароль" />
                </form>
            </div>
        </div>
    </div>



{% endblock content %}