{% extends 'divorce/base.html' %}
{% load static %}

{% block content %}
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <br/>
                    <h1>Онлайн-сервис: Раздел имущества супругов</h1>
                    <br/>
                </div>
            </div>
        </div>

        <br/>

        <section class="container">
            <div class="row justify-content-start">
                <div class="col-12 text-center">
                    <h4>Добавьте сведения о супругах, имуществе и сведения о браке</h4>
                </div>
            </div>
        </section>

        <br/>

        <section class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h3 class="text-center">Физ. лица
                            <button type="button" class="btn btn-outline-primary btn-sm m-1 float-right" id="myButton">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                            <script type="text/javascript">
                                document.getElementById("myButton").onclick = function () {
                                    location.href = "{% url 'form_add_fiz_l' %}";
                                };
                            </script>
                            </h3>
                            <hr/>

                        <!-- url 'add_person' в action
                            <form action="" method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="input-group">
                                    <input type="text" class="form-control" name="name">
                                    <div class="input-group-append text-info">
                                        <span class="input-group-text bg-white py-0">
                                            <button type="submit" class="btn btn-outline-primary btn-sm">
                                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>

                            </form>

                            -->

                            <br/>

                            <ul class="list-group text-left">
                                {% for fiz_l in fiz_l_list %}
                                <li class="list-group-item">{{ fiz_l.name }} - {{ fiz_l.date_of_birth }} ({{ fiz_l.sex }})

                                    <form action="{% url 'delete_person' fiz_l.id %}" method="post" class="float-right d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="close text-danger" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                                    </form>
                                    <a href="{% url 'person_update' fiz_l.id %}" class="btn text-secondary float-right">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                </li>
                                {% empty %}
                                <li class="list-group-item">
                                    <span class="font-italic">Добавьте хотя бы одно физическое лицо</span>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h3 class="text-center">Брак
                            <button type="button" class="btn btn-outline-primary btn-sm m-1 float-right" id="myButton2">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </button>
                            <script type="text/javascript">
                                document.getElementById("myButton2").onclick = function () {
                                    location.href = "{% url 'form_add_marriage' %}";
                                };
                            </script>
                            </h3>

                            <hr/>

                            <ul class="list-group text-left">
                                {% for marriage in marriages_list %}
                                <li class="list-group-item">{{ marriage }}
                                    Зарегистрирован: <span class="badge badge-pill badge-info">{{ marriage.date_of_marriage_registration }}</span>

                                    <form action="{% url 'delete_marriage' marriage.id %}" method="post" class="float-right d-inline">
                                        {% csrf_token %}
                                        <button type="submit" class="close text-danger" aria-label="Close"><span aria-hidden="false">&times;</span></button>
                                    </form>
                                    <a href="{% url 'marriage_update' marriage.id %}" class="btn text-secondary float-right">
                                        <i class="fas fa-user-edit"></i>
                                    </a>
                                    {% if marriage.date_of_marriage_divorce is None %}
                                    <a href="{% url 'marriage_divorce' marriage.id %}" class="btn btn-outline-danger btn-sm m-1">
                                        Расторгнуть брак
                                    </a>
                                    {% endif %}
                                    {% if marriage.date_of_marriage_divorce %}
                                        Расторгнут: <span class="badge badge-pill badge-danger">{{ marriage.date_of_marriage_divorce }}</span>
                                    {% endif %}


                                </li>
                                {% empty %}
                                <li class="list-group-item">
                                    <span class="font-italic">Вы можете добавить брак</span>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <h3 class="text-center">Имущество</h3>
                            <hr/>

                            <button type="button" class="btn btn-outline-primary btn-sm m-1">Добавить</button>
                            <br/>
                            <br/>
                            <hr/>
                            <ol class="text-left">
                                <li>Автомобиль <span class="badge badge-pill badge-warning">движимое</span> <span class="badge badge-pill badge-info">04.02.2014</span> </li>
                                <li>Квартира Коломяжский <span class="badge badge-pill badge-warning">недвижимое</span> <span class="badge badge-pill badge-info">10.09.2008</span> </li>
                                <li>Земельный участок <span class="badge badge-pill badge-warning">недвижимое</span> <span class="badge badge-pill badge-info">25.08.2016</span></li>
                                <li>Телевизор <span class="badge badge-pill badge-warning">движимое</span></li>
                                <li>Денежные средства в банке <span class="badge badge-pill badge-warning">имущественное право</span></li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>

            <br/>
            <br/>

            <div class="row justify-content-center">
                <div class="card" style="background: rgba(255, 255, 255, 0.3)">
                    <div class="card-body text-center">
                        <p>Выберите дату, на которую делим имущество:</p>
                        <table class="table-borderless" style="width:100%">
                        <tbody>
                            <tr>
                                <td><input id="datepicker" width="276" />
                        <script>
                            $('#datepicker').datepicker({
                                uiLibrary: 'bootstrap4'
                            });
                        </script></td>
                                <td><button type="button" class="btn btn-primary btn-sm m-1">Разделить имущество</button></td>

                            </tr>

                        </tbody>
                    </table>

                    </div>
                </div>
            </div>

            <br/>
            <br/>

        </section>
{% endblock content %}